h1{
    display: flex;
    font-size: 70px;
    font-weight: bold;
    justify-content: center;
    color: #1B5E20;
}
#count{
    
    font-size: 50px;
    font-weight: bold;
    
    color: #1B5E20;
}
body{
    text-align: center;
    background-image: url(eslamic.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
button{
    font-size: 40px;
    font-weight: bold;
    color:white;
    margin: 25px 10px 10px;
    margin-top: 25px;
   background-color:#2e7d32 ;

    cursor: pointer;
    border-radius: 70px;
    border-color: aquamarine;
   
}
button:hover{
    background-color: #1B5E20;
}
#zekr{
    margin-top: 30px;
}
#zekr span{
    
    font-size: 50px;
    font-weight: bold;
    color:black;
    margin-top: 30px; 
    border:2px solid #81c784;
    background-color: #ffffff;
    border-radius: 12px; 
    padding:1px 4px;
    width: fit-content;
    margin: 10px auto;


    
}
#circle{
    width: 220px;
    height: 220px;
    background-color: #f8fff8;
    border: 5px solid #8bc34a;
    border-radius: 50%;
    margin: 30px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
